
efficientCV_env/
.vscode/
.pytype/
.mypy_cache/
efficientCV/layers/__pycache__/
efficientCV/models/__pycache__/
efficientCV/utils/__pycache__/
efficientCV/__pycache__/
efficientCV.egg-info/
dist/
run.py
README_DEV.md